@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}

.primary-1{
  color: #1794A1;
}

.bg-primary-1{
  background: #1794A1;
}

.border-primary-1{
  border-color: #1794A1;
}


.brand-orange{
  color: #FF6700;
}

.hidden{
  display: none;
}

@media only screen and (max-width: 640px) {
  .hide-on-mobile{
    display: none;
    opacity: 0;
  }
  .grid-or-block-3{
    display: block;
  }
}

@media only screen and (min-width: 640px) {
  .show-on-mobile{
    display: block;
    opacity: 0;
  }
  .grid-or-block-3{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}